{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <!-- Styles -->
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
  <section id="header">
    <div class="top container">
      Онлайн-магазин электроники
    </div>
    <div class="top-bl">
      <div class="container">
          <div class="cart">
              {% with total_items=cart|length %}
                  {% if cart|length > 0 %}
                      Ваша корзина:
                      <a href="{% url "cart:CartDetail" %}">
                          {{ total_items }} тов. {{ cart.get_total_price }} грн.
                      </a>
                   {% else %}
                        Корзина пустая
                  {% endif %}
              {% endwith %}
          </div>
      </div>
    </div>
  </section>
  <section id="content row" class="container">
    {% block content %}{% endblock %}
  </section>
</body>
</html>
